:root{
    --primary-color: rgb(6, 0, 176);
    --input-background-color: #8f93ff;
    --selection-color: rgb(4, 0, 135)
}

*{
    box-sizing: border-box;
    outline: 0;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
}

.container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #ffffff;
    padding: 20px 40px;
    border-radius: 1rem;

}

form input, form label, form button {
    display: block;
    max-width: 100%;

}

form input, form button {
    width: 100%;
    margin: 10px;
    border-radius: .2rem;
}

form input {
    padding: 10px;
    border: 1px solid #868686;
    border-radius: .1rem;
}

form button {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

form input:hover {
    background-color: var(--input-background-color);
    transition: .1s;
}   

form button:hover {
    background-color: var(--selection-color);
    transition: .2s;
}